Page {
    background: linear-gradient(180deg, #e6e6e6, #ccddfd);
}

.ntc-header {
    background-color: #00368e;
    color: #feb832;
    height: 500px;
}

.ntc-grid {

    padding: 50px;
    margin-top: 10px;
}

.grid-item {
    background-color: white;
    border-radius: 12px;
    padding: 12px;
    margin: 5px;
    text-align: center;
}

.grid-icon {
    font-size: 24px;
    color: #00368e;
    margin-bottom: 8px;
}

.text-xs {
    font-size: 12px;
    color: #00368e;
    font-weight: 500;
}

.balance-card {
    background-color: #00368e;
    max-width: fit-content;
    height: 700px;
    color: white;
}

.balance-title {
    padding: 60px;
    font-size: 14px;
    opacity: 0.9;
}

.balance-amount {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
}

.balance-validity {
    font-size: 12px;
    opacity: 0.7;
    margin-top: 5px;
}

.balance-label {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* Add styles for TextField and Button */
TextField {
    color: #00368e;
    /* Black text color */
    background-color: #fff;
    /* White background color */
    border-radius: 8px;
    padding: 15px;
    /* Increase padding for more space inside the field */
    margin-bottom: 10px;
    /* Add space between TextFields */
    font-size: 18px;
    /* Increase font size for better readability */
}

/* Add styles for placeholder text */
TextField::placeholder {
    color: #666666;
    /* Darker gray color */
}

Button {
    color: #ffffff;
    /* White text color */
    background-color: #00368e;
    /* Blue background color */
    border-radius: 8px;
    padding: 15px;
    /* Increase padding for a bigger button */
    font-size: 18px;
    /* Increase font size for better readability */
}

.custom-dialog {
    background-color: #00368e;
    /* Dark blue background color */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.dialog-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.dialog-message {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.data-pack-item {
    background-color: #00368e;
    border-radius: 8px;
    padding: 34px;
    margin-bottom: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.data-pack-name {
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
}

.data-pack-price {
    font-size: 12px;
    color: #feb832;
}

.data-pack-title {
    font-size: 24px;
    font-weight: bold;
    color: #00368e;
    margin-bottom: 20px;
}

.popup-banner {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin: auto;
}

.banner-slide {
    background-color: #00368e;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.banner-title {
    color: #feb832;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.banner-details {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}

.new-row {
    background-color: #00368e;
    /* Dark blue background color */
    margin: 50px;
    padding: 50px;
    /* Optional: Add some padding if needed */
    border-radius: 25px;
}

.new-row .grid-item {
    background-color: transparent;
    /* Ensure grid items have no background */
    text-align: center;
    /* Center align text */
}


.new-row .grid-icon {
    font-size: 24px;
    color: #feb832;
    /* Yellow color for icons */
    margin-bottom: 8px;
}

.new-row .text-xs {
    font-size: 12px;
    color: #ffffff;
    /* White color for text */
}

/* Add styles for Image components */
.new-row .grid-icon,
.ntc-grid .grid-icon {
    width: 100px;
    /* Set the desired width */
    height: 100px;
    /* Set the desired height */
    margin-bottom: 10px;
}